<div class="container">
    <h2>Registrarse</h2>
    <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
        <div *ngIf="formularioInvalido">
            <p>{{messageFormError}}</p>
        </div>

        <div class="form-group">
            <label for="usuario">Usuario:</label>
            <input type="text" class="form-control" id="usuario" name="usuario"
                required name="usuario" [(ngModel)]="user">
            <div *ngIf="!userValid">
                <span class="message-error">El formato del usuario no es valido:
                    {{showUserInvalidMessage()}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="contrasena">Contraseña:</label>
            <input type="password" class="form-control" id="contraseña"
                name="contrasena"
                required  [(ngModel)]="pass">
            <div *ngIf="!passValid">
                <span class="message-error">La contraseña no cumple con el
                    formato
                    {{showPassInvalidMessage()}}</span>
            </div>

        </div>

        <div>
            <label>Elija un rol</label>
            <p>
                <label> <input type="radio" name="option_rol" 
                        value="Admin" [(ngModel)]="rol" (change)="setRol('Administrador')"> Administrador </label>

                <label> <input type="radio" name="option_rol" 
                        value="Funcionario" [(ngModel)]="rol" (change)="setRol('Funcionario')"> Funcionario</label>

            </p>
        </div>

        <div class="form-group">
            <label for="ci">CI:</label>
            <input type="text" class="form-control" id="ci" required name="ci" [(ngModel)]="ci">
            <div *ngIf="ciReasonsInvalid.length != 0">
                <span class="message-error">La cédula de identidad no cumple
                    con el
                    formato
                    {{showCIInvalidMessage()}}</span>
            </div>

        </div>
        <div class="form-group">
            <label for="nombreCompleto">Nombre cmpleto:</label>
            <input type="text" class="form-control" id="nombreCompleto"
                name="nombreCompleto"
                required [(ngModel)]="nombreCompleto">
            <div *ngIf="nombreCompletoReasonsInvalid.length != 0">
                <span class="message-error">El nombre no cumple con el
                    formato
                    {{showNameInvalidMessage()}}</span>
            </div>

        </div>
        <div class="form-group">
            <label for="fch_nacimiento">Fecha nacimiento:</label>
            <input type="date" class="form-control" id="fch_nacimiento"
                name="fch_nacimiento"
                required [(ngModel)]="fechaNacimiento">
            <div *ngIf="fechaNacimientoReasonsInvalid.length != 0">
                <span class="message-error">La fecha de nacimiento no es
                    valida para un funcionaro de la UCU:
                    {{showBornDateInvalidMessage()}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="fch_nacimiento">¿Tiene carnet?</label>
            <p> <input type="radio" name="option_carnet" (change)="setTieneCarnet(true)"
                value="true" [ngModel]="tieneCarnet"> Si</p>
            <p> <input type="radio" name="option_carnet"  (change)="setTieneCarnet(false)"
                  value="false" [ngModel]="tieneCarnet"> No</p>
        </div>

        <div class="form-group" *ngIf="tieneCarnet">
            <p>Datos del carnet</p>
            <div class="form-group">
                <label for="fechaEmision">Fecha Emisión:</label>
                <input type="date" class="form-control" id="fechaEmision"
                    name="fechaEmision"
                    [required]="tieneCarnet"
                    [(ngModel)]="fechaEmisionCarnet">
                <div *ngIf="fechaEmisionReasonsInvalid.length != 0">
                    <span class="message-error">La fecha de emisión
                        proporcionada es invalida:
                        {{showStartDateInvalidMessage()}}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="fechaVencimiento">Fecha vencimiento:</label>
                <input type="date" class="form-control"
                    id="fechaVencimiento"
                    name="fechaVencimiento"
                    [required]="tieneCarnet"
                    [(ngModel)]="fechaVencimientoCarnet">
                <div *ngIf="fechaVencimientoReasonsInvalid.length != 0">
                    <span class="message-error">La fecha de emisión
                        proporcionada es invalida:
                        {{showEndDateInvalidMessage()}}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="carnet">Comprobante</label>
                <input [required]="tieneCarnet" type="file" id="carnet"
                    (change)="onFileSelected($event)" accept=".jpg, .pdf"
                    [(ngModel)]="carnet"/>
                <div *ngIf="!archivoValido && carnet != undefined">
                    <span class="message-error"> Error al subir el archivo:
                        {{showVoucherInvalidMessage()}}</span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="direccion">Domicilio completo de residencia:</label>
            <input type="text" class="form-control" id="direccion"
                name="direccion" required
                [(ngModel)]="direccion">
            <div *ngIf="direccionReasonsInvalid.length != 0">
                <span class="message-error">El formato del direccion no es
                    valido:
                    {{showAddressInvalidMessage()}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="correo">Correo electrónico</label>
            <input type="email" class="form-control" id="correo"
                name="correo" required
                [(ngModel)]="correo">
            <div *ngIf="correoReasonsInvalid.length != 0">
                <span class="message-error">El formato del correo
                    electrónico no es valido:
                    {{showEmailInvalidMessage()}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="telefono">Teléfono de contacto:</label>
            <input type="tel" class="form-control" id="telefono"
                name="telefono" required
                [(ngModel)]="telefono">
            <div *ngIf="telefonoReasonsInvalid.length != 0">
                <span class="message-error">El télefono de contacto tiene un
                    formato invlaido:
                    {{showPhoneInvalidMessage()}}</span>
            </div>
        </div>

        <input type="submit" value="Registrarse">
    </form>
    <br>
    <br>
    <button class="join-button" [routerLink]="">Volver</button>
</div>
