.formulario {
    max-width: 400px;
    margin: 50px auto;
  }
  
  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .campo {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="date"],
  button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  
  button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
  }
  
  .boton-enlace {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .boton-enlace:hover {
    background-color: #2980b9;
  }
  